@media only screen and (min-width: 621px) {
	
	html {
		scroll-behavior: smooth;
	}

	body {
		display: grid;
		grid-template: auto / 360px 8fr auto;
		width: auto;
	}


	.titleNav {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		display: grid;
		grid-template: 120px 240px auto / auto;
		font-family: Fira sans condensed;
		position: fixed;
	}

	header {
		grid-column: 1 / 2;
		display: grid;
		grid-template-columns: 100px auto;
		font-family: Fira sans condensed;
		vertical-align: center;
		padding: 16px;
	}

	#antoine img {
		max-width: 80px;
		/*border: 1px solid black;*/
		border-radius: 16px;
	}

	nav {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-weight: 400;
		padding: 12px;
	}

	main {
		grid-column: 2 / 3;
		font-family: Catamaran;
		font-weight: 100;
		padding: 16px 10% 16px 12%;
		max-width: 800px;
		margin-left: auto;
		z-index: 9999;
		/*float: right;*/
	}

	#mobileFavIcon {
		display: none;
	}
	
		#menuBttn {
		display: none;
	}

	#title .contact img {
		display: none;
	}

	nav li a {
		text-decoration: none;
		font-weight: 300;
		font-size: 24px;
	}

	nav li:not(#lang) a {
		text-decoration: none;
		font-weight: 300;
		padding-left: 10px;
		font-size: 24px;
	}

	nav li {
		padding: 3px 0px 16px 10px;
	}

	nav li:not(#lang) a:hover {
		border-left: 3px solid #3e3439;
		padding-left: 7px; 
		color: #723c3c;
	}

	nav li a:active {
		color: #fff;
		background-color: #e8e8e8;
	} 

	#theme-color {
		margin: 24px;
	}

	.light {
		background-color: #fff;
		color: #000;
	}

	.dark {
		background-color: #000;
		color: #fff;
	}

	#lang {
		/*display: none;*/
		font-size: 24px;
		font-weight: 300;
		padding-top: 32px;
	}

	#lang a {
		font-weight: 400;
	}

	p {
		line-height: 1.5em;
	}
	
	footer {
		grid-column: 2 / 3;
		text-align: right;
		font-family: Fira sans condensed;
		margin-top: 64px;
		padding-right: 8%;
		padding-bottom: 32px;
		font-weight: 300;
		font-size: 12px;
	}

	section {
		padding-bottom: 32px;

	}

	h1 {
		font-weight: 400;
		text-align: left;
		font-size: 32px;
		text-decoration: none;
		padding: 8px 0px;
	}

	h2 {
		text-align: left;
		font-size: 24px;
		font-family: Fira Sans Condensed;
		font-weight: 300;
	}

	h3 {
		font-size: 24px;
		font-weight: 300;
		padding: 32px 0px 8px;
		font-family: Fira sans condensed;
		text-align: left;
		border-bottom: 1px solid #000000;
		margin-bottom: 32px;
	}

	#printVersionLink h3 {
		text-align: right;
		border-bottom: 3px solid #583939;
	}

	#printVersionLink h3 a {
		text-decoration: none;
		border-top: 3px solid #583939;
		border-right: 3px solid #583939;
		border-left: 3px solid #583939;
		border-radius: 3px;
		padding: 8px;
		color: #583939;
	}	

	h4 {
	    font-size: 20px;
	    font-family: Fira sans condensed;
	    font-weight: 500;
	    padding: 5px 0px 8px 12px;
	}

	#implications .date, #publ .date, #merit .date, #exp .date {
	    text-align: right;
	    font-weight: 500;
	    font-family: Fira sans condensed;
	    font-size: 16px;
	    bottom: 20px;
	    position: relative;
	    margin-bottom: -36px;
	}

	#school .date {
	    text-align: right;
	    font-weight: 500;
	    font-family: Fira sans condensed;
	    font-size: 16px;
	    bottom: 20px;
	    position: relative;
	    margin-bottom: -24px;
	}

	a {
		color: #3e3439;
		text-decoration: none;
	}

	a:hover {
	 text-decoration: underline;
	}

	p + p {
		padding-top: 12px;
	}

	strong {
		font-weight: 800;
		font-family: Fira sans condensed;
	}

	main ul {
		padding-left: 24px;
		line-height: 1.2em;
	}

	main ul li {
		padding-bottom: 12px;
		line-height: 1.2em;
	}

	#contact ul {
		padding-top: 16px;
	}
	#contact img {
		max-width: 24px;
		padding-right: 8px;
	}

	#contact span {
		position: relative;
		bottom: 8px;
	}

}


#expertise .grid {
	display: grid;
	grid-template: 1fr 1fr 1fr / auto;
	text-align: center;
}

#exp-grid div {
	border-radius: 20px;
}

div#ed-num {
	grid-column: 1 / 2;
	background-color: rgba(250,220,217, 0.5);
	padding: 36px 12px;
	margin:12px;
}

div#web {
	grid-column: 2 / 3;
	background-color: rgba(217,231,250, 0.5);
	padding: 36px 12px;
	margin:12px;
}

div#trad {
	grid-column: 3 / 4;
	background-color: rgba(217,255,224, 0.5);
	padding: 36px 12px;
	margin:12px;
}

div#ed-num:hover {
	background-color: rgba(250,220,217, 1);
}

div#web:hover {
	background-color: rgba(217,231,250, 1);
}

div#trad:hover {
	background-color: rgba(217,255,224, 1);	
}