/* For mobile phones: */


@media only screen and (max-width:620px) {

	html {
		scroll-behavior: smooth;
	}

	body {
		display: grid;
		grid-template: auto auto auto / auto;
		width: auto;
	}

	.titleNav {
	    width: 100%;
	    grid-column: 1 / 2;
	    font-family: Fira sans condensed;
	    font-weight: 300;
	    z-index: 1;
	}

	main {
		width: auto;
		grid-column: 1 / 2;
		font-family: Catamaran;
		font-weight: 100;
		position: static;
		z-index: 1;
		padding: 32px;
	}

	header {
		display: grid;
		grid-template: auto / 16% 68% 16%;
		border-bottom: 1px solid #000;
		width: 100%;
		z-index: 999;
	}

	#mobileFavIcon img {
		max-width: 48px;
		grid-column: 1 / 2;
		margin: 12px;
	}

	#navbar {
		border-bottom: 1px solid #000;
		padding: 16px;
		display: none;
		z-index: 1;
		background-color: #e8e8e8;
	}

	nav li + li {
		border-top: 1px solid #d4d4d4;
	}

	nav li a {
		text-decoration: none;
		color: #343434;
		font-size: 24px;
		line-height: 1.5em;
		padding-left: 10px;
	}

	nav li a:hover {
		font-weight: 400;
	}

	nav li a:active {
		color: #ffffff;
		background-color: #000000;
	} 


	#antoine {
		display: none;
	}

	h1 {
		font-weight: 400;
		text-align: left;
		font-size: 28px;
		text-decoration: none;
		padding-top: 12px;
	}

	h1 a {
		color:#3e3439;
		text-decoration: none;
	}

	#title {
		padding: 0px 0px 12px 12px;
		text-align: left;
		grid-column: 2 / 3;
	}

	#menuBttn img {
		grid-column: 4 / 5;
		max-width: 48px;
		margin: 12px;
		float:right;
		display: inline-block;
		transition: background-color 0.5s;
	}

	#menuBttn img:hover {
		background-color: #e5e5e5;
		border: 3px solid #fff;
		border-radius: 8px;
		margin: 9px;
		transition: background-color 0.5s, border-radius 0.1s;
	}

	#menuBttn img:active? nav ul {
		display: block;
		z-index: 9999;
	}

	#printVersionLink h3 {
		text-align: right;
		border-bottom: 3px solid #583939;
	}

	#printVersionLink h3 a {
		text-decoration: none;
		border-top: 3px solid #583939;
		border-right: 3px solid #583939;
		border-left: 3px solid #583939;
		border-radius: 3px;
		padding: 8px;
		color: #583939;
	}	

	h2 {
		font-weight: 300;
		font-size: 120%;
		color: #583939;
	}

	h3 {
		font-size: 24px;
		font-weight: 300;
		padding: 16px 0px;
		font-family: Fira sans condensed;
		text-align: left;
		border-bottom: 1px solid #000;
		margin-bottom: 16px;
	}

	section:not(#about) {
		padding-top: 16px;
	}

	h4 {
	    font-size: 16px;
	    font-weight: 500;
	    padding-top: 5px;
	    padding-bottom: 3px;
	}

	#implications .date, #publ .date, #merit .date, #exp .date {
	    text-align: right;
	    font-weight: 500;
	    font-family: Fira sans condensed;
	    font-size: 16px;
	    bottom: 20px;
	    position: relative;
	    margin-bottom: -36px;
	}

	#publ .date {
	    text-align: right;
	    font-weight: 500;
	    font-family: Fira sans condensed;
	    font-size: 16px;
	    bottom: 20px;
	    position: relative;
	    margin-bottom: -24px;
	}

	#school .date {
	    text-align: right;
	    font-weight: 500;
	    font-family: Fira sans condensed;
	    font-size: 16px;
	    bottom: 20px;
	    position: relative;
	    margin-bottom: -24px;
	}

	#lang {
		display: none;
	}

	p {
		line-height: 1.5em;
	}

	p + p {
		padding-top: 12px;
	}

	strong {
		font-weight: 800;
	}

	main ul {
		padding-left: 24px;
		line-height: 1.2em;
	}

	main ul li {
		padding-bottom: 8px;
	}
	footer {
		border-top: 1px solid #000;
		grid-row: 3 / 4;
		padding-bottom: 64px;
		font-family: Fira sans condensed;
		text-align: center;
	}

	footer p {
		padding-top: 16px;
		
	}

	#contact ul {
		padding-top: 32px;
		padding-left: 0;
	}

	#contact li {
		float: left;
		display: block;
		padding-left: 0;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}

	#contact img {
		max-width: 64px;
		padding: 8px;
		border: 1px solid #000;
		border-radius: 16px;
		background-color: #fff;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}

	#contact a {
		text-decoration: none;
		color: #583939;
	}

	#contact span {
		position: relative;
		bottom: 8px;
		display: none;
	}

}